/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

nav ul {
    list-style: none; 	  
  }
nav a {
    text-decoration: none; 
}
	
nav a:focus,
nav a:hover,
nav a:active { 
	color: red;
    text-decoration:underline;
}

/* Tabelle 1 aus NEXUS */

table#Tabelle1 {
    border: 1px solid blue;
}
 
table#Tabelle1 tr:nth-child(even) {
    background-color: #eee
}
 
table#Tabelle1 tr:nth-child(odd) {
    background-color: #fff;
}
 
table#Tabelle1 th {
    color: white;
    background-color: blue;
    padding: 4px 4px 2px 4px;
	text-align: center;
}
 
table#Tabelle1 td {
    border: 1px solid black;
    padding: 2px;
	text-align: center;
}

.folie { 
    text-align: center;
	border: 1px solid blue;
	padding: 1px;
}

/* Sprungziel Top */

div.dsa { 
	position: relative;
	top: -10em;
}

div.libu {
	position: relative;
	top: -1em;
	left: 2em;
}

.row {
    display: table-row;
}
label, input {
    margin: 5px;
}

.jtt {
	 position: relative;
    top: -4em;
}
