/* flash01-dsa */

/* Erste Tabelle mit der Frage in einer Zeile ************/
#** {
	position: relative;
	top: 0em; 
}

#dsaFrage {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	top: -2.0em; 
    left: 0.5em;; 
    height: 6em;
	width:100%;
	font-size: 20px;
	color: green;
}

/* Zweite Zeile der Tabelle mit den Antworten ************/
table#dsaTab1 {
	position: relative;
	top: -2em; 
    height: 32em;
	width: 100%;
	font-size: 18px;
	color: black;
	border: none;
}
table#dsaTab1 td {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	height: 3.8em;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid blue;
}

/* Für Listenerstellung ***************************************/
table#dsaListe {
	position: relative;
	width: 100%;
	color: black;
	font-size: 14px;
	font-weight: bold;
	border: none;
}

.cboxListe {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 10px;
	font-size: 16px;

}
.antwListe {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
}
.antwort {
	position: relative;
	vertical-align: middle;
	width: 100%;
	font-size: 16px;

}
#listeTab2 {
	position: sticky;
	display: flex;
	bottom: 10em;
}

#listeBlau { Ausdruck für Liste
	position: sticky;
	display: flex;
	bottom: 0em;
	margin-left: auto;
}

/* Positionierung der Buttons*****************************/

#dsaTab2 {
	position: sticky;
	display: flex;
	bottom: 8em;
}
#rot {
	margin-left: auto;
	margin-right: auto;
}


/* Positionierung der Hinweisfelder **********************/

#dsaTab3 {
	position: sticky;
	display: flex;
	font-size: 18px;
	bottom: 6em;
/*	border: 1px dashed blue; */
}

/* Positionierung Hinweisfelder***************************/

#dsaTab3out {
	margin-left: auto;
	margin-right: auto;
}

#dsaTab4 {
	position: relative;
	display: flex;

	font-size: 18px;
	bottom: 2em;
border: 1px dashed blue;
}

#dsaTab4out {
	margin-left: auto;
	margin-right: auto;
}

