/* flash01-dsb */

/* Erste Zeile vor Tabelle */

#dsbFrage { 
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: -1.0em; 
    left: 0.5em;; 
    height: 6em;
	width:100%;
	font-size: 22px;
	color: green;
}

/*Eingabetabelle*/

table#dsbTab1 { 
	position: relative;
	top: -2em; 
    height: 20em;
	width: 100%;
	font-size: 18px;
	color: black;
	border: none;
}

table#dsbTab1 td {
	display: table-cell;
	vertical-align: middle;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid blue;
}

table#dsbTab1 tr:nth-child(even) {
    background-color: #fff
}

}  /* } Entfernen Killt Checkboxen ??? */

/* In der Tab links */

.chkbox { 
    position: relative;
    top: 20em;
	align: center;
	left: 0em; 
	height: 4.5em;
	width: 0em;
}

/* In der Tab rechts */

.ansbox { 
	position: relative;
    left: 0em; 
	height: 4.5em;
	width: 100%;

}

/*Ausgabetabelle*/

table#dsbTab2 {
position: relative;
	top: 0.5em; 
	left: 25%;
	float: center;
    margin: auto;
	height: 4em;

}

table#dsbTab2 td {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid grey;
}

.knopf {
    width: 100px;
    height: 40px; 
    background: linear-gradient(to bottom, white, orange); 
    box-shadow: inset 0px 0px 6px #fff,inset 0px -1px 6px #fff;
    border: 1px solid #5ea617;
    border-radius: 1em;
    margin: 1em;
	color: white;
	font-weight: bold;
 }
 .knopfpos{
	position: relative;
	margin: auto;
	top: -1.5em;
	width: 50%;
 }

/* unter NeuStart Knopf */

.hinweis {
	position: relative;
	top: -1.5em;
	left: 30%;
    font-size: 1.2em;
	color: red;
}
.knopf.rot {
	background: linear-gradient(to bottom, white, red);
}

.knopf.orange {
	background: linear-gradient(to bottom, white, orange);
}

.knopf.gruen {
	background: linear-gradient(to bottom, white, green);
}

.knopf.blau {
	background: linear-gradient(to bottom, skyblue, blue);
}

.knopf.lila {
	background: linear-gradient(to bottom, hotpink, purple);
}
.knopf.grau {
	background: linear-gradient(to bottom, white, dark grey);
}

.knopf:hover,
.knopf:focus {
	box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}
